
.home__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 1rem;
  align-content: center;
  height: 100vh
}

.home__desk-img {
  max-height: 450px;
}

@media only screen and (max-width: 350px) {

  .home__container {
    display: block;
    padding: 1rem;
  }

  .home__desk-img {
    display: none;
  }
  
}

@media only screen and (max-width: 810px) {
  .home__container {
    display: block;
    padding: 1rem;
  }

  .home__desk-img {
    display: none;
  }
}